/Backend/SoftWSDL/target/
/Backend/SoftLibWSBL/build/
/Backend/SoftLibWSBL/nbproject/private/
/Backend/SoftDBManager/dist/
/Backend/SoftGastoModel/dist/
/Backend/SoftGastoDA/dist/
/Backend/SoftGastoBO/dist/
/Backend/SoftWSBL/nbproject/private/
/Backend/SoftWSBL/build/
